$textFont: "Roboto", sans-serif;
$textLogotype: "Raleway", sans-serif;
$logotypeDarkColor: #000000;
$logotypeLightColor: #ffffff;
$blackColor: #000000;
$accentColor: #2196f3;
$titleColor: #212121;
$textColor: #757575;
$textLightColor: #ffffff;
$backgroundLightColor: #ffffff;
$backgroundDarkColor: #2f303a;
$filterBtnColor: #f5f4fa;
$featuresBackgroundColor: #f5f4fa;
$iconsColor: #afb1b8;
