/*:root {
  --text-font: "Roboto", sans-serif;
  --text-logotype: "Raleway", sans-serif;
  --logotype-dark-color: #000000;
  --logotype-light-color: #ffffff;
  --black-color: #000000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-light-color: #ffffff;
  --background-light-color: #ffffff;
  --background-dark-color: #2f303a;
  --filter-btn-color: #f5f4fa;
  --features-bg-color: #f5f4fa;
  --icons-color: #afb1b8;
}*/
$textFont: "Roboto", sans-serif;
$textLogotype: "Raleway", sans-serif;
$logotypeDarkColor: #000000;
$logotypeLightColor: #ffffff;
$blackColor: #000000;
$accentColor: #2196f3;
$titleColor: #212121;
$textColor: #757575;
$textLightColor: #ffffff;
$backgroundLightColor: #ffffff;
$backgroundDarkColor: #2f303a;
$filterBtnColor: #f5f4fa;
$featuresBackgroundColor: #f5f4fa;
$iconsColor: #afb1b8;
